@use '../../../../css/queries.scss' as *;

.width {
  padding-left: 8px;
  padding-right: 8px;
  flex: 0 0 auto;
  box-sizing: border-box;

  @include mid-break {
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
  }
}
